.card1 {
  
    margin-top: auto;
    border:none;
    border-radius: 0;
    padding: 1px;
    height: 120px;
    display: inline;
    text-align: left;
  }

  .descrip { 
    margin-left: 20px;
    grid-area: descrip; 
    overflow: hidden;
    line-height: 25px;
  }

  .cantidad { 
    display: inline-block;
    text-align: right;
    grid-area: cantidad; 
  }
 