
.imgNosotros {
    max-width: 100%;
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .5s ease-in-out;
}

.imgNosotros:hover  {
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
}

@media  (max-width:480px) {
    .imgNosotros {
        max-width: 100%;
        filter: gray;
        -webkit-filter: none;
    }
    .imgNosotros:hover  {
        -webkit-filter: none;
        -webkit-transform: none;
    }
}

@media (max-width:768px) {
    .imgNosotros {
        max-width: 100%;
        filter: gray;
        -webkit-filter: none;
    }
    .imgNosotros:hover  {
        -webkit-filter: none;
        -webkit-transform: none;
    }
}

