
.contenedor{
    height: auto;
    margin: 20px;
    width: 100%;
    display: grid;
    place-items: center;
}

.contenedorCarrusel{
    background-color: black;
    width: 950px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 
    0 6px 30px 5px rgba(0,0,0,.12), 
    0 8px 10px -7px rgba(0,0,0,.2);
}
.imgCarrusel{
    height: 470px;
    width: 100%
}
.nuevos{
    margin: 50px 0;
    justify-content: center;
    width: 100%;
}
.contMasNuevos{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}
.newsTitulo{
    padding: 20px;
    display: inline-block;
    width: 100%;
}
